* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    position: relative;
    height: 8rem;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8ACE;
    box-shadow: 5px 5px 15px -4px #000000;
}
header figure {
    max-width: 20rem; 
}
header figure img {
    width: 100%;
    background-color: black;
}

body {
    background-color: #96AAFF;
}
div {
    transition: background-color 0.5s ease-out;
    transition: box-shadow 0.5s ease-out;
    transition: color 0.2s ease-out;
}
div:hover {
    cursor: pointer;
    background-color: rebeccapurple;
    box-shadow: 0px 6px 20px -6px rgba(0,0,0,0.79);
    color: white;

}

.main-games-menu {
    padding-top: 5rem;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
.main-games-menu div{
    max-width: 20rem;
}
.main-games-menu div img {
    width: 100%;
}